/* Default values*/
html, body {
    background-color: azure;
    font-family: 'Century Gothic';
    min-width: 750px;
}

/* Web header */
#headerDiv {
    background-color: cornflowerblue;
    padding: 8px;
    padding-left: 20px;
    border-radius: 6px 6px;
}

/* Welcome text */
h2 {
    font-size: medium;
}

/* Right menu div */
#avaiableMachines {
    float: right;
    right: 0;
    top: 0;
    position: sticky;
    height: 100%;
    width: 20%;
    margin-top: 10px;
    margin-left: 10px;
    background-color: antiquewhite;
    min-width: 200px;
}

/* Right menu header */
#menuHeader {
    margin-left: 10px;
}

/* Menu list */
#mcus {
    list-style-type: none;
}

/* Main machine div */
#machineList {
    left: 0;
    width: 80%;
    min-width: 550px;
}

/* Each machine in a class div */
.machine {
    margin: 10px;
    padding: 5px;
    background-color: aquamarine;

    /* The buttons wont overflow div */
    overflow: hidden;
}

.machineButtonsDiv button, .stripButtonsDiv button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Century Gothic';
}

.machineButtonsDiv, .stripButtonsDiv {
    position: relative;
    left: 50px;
    float: left;
    width: 100%;
}

.machineDescDiv, .stripDescDiv {
    display: inline;
    float: left;
    width: 10%;
    left: 10px;
    top: 30px;
}

.machineValuesDiv, .stripValuesDiv {
    width: 50%;
    display: inline;
}

/* Power Off button */
.postOff, .postStripOff {
    background-color: #FF0000;
}

/* Restart button */
.postRestart {
    background-color: #FF6600;
}

/* Power On button */
.postOn, .postStripOn {
    background-color: #00FF00;
}

/* Kill button */
.postKill {
    background-color: #000000;
}
